/*===== GOOGLE FONTS =====*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*===== VARIABLES CSS =====*/

:root {
  --header-height: 3rem;

  /*========== Colors ==========*/

  --first-color: #1e9cd9;
  --first-color-alt: #0d85c9;
  --title-color: #161212;
  --title-color2nd: #161212;
  --text-color: #5B5757;
  --text-color-light: #8F8A8A;
  --body-color: #ffffff;
  --container-color: #F7F7F7;
  --constant-color: #ffffff;
  --constant-color2nd: #22252b;

  /*========== Font and typography ==========*/

  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes ==========*/

  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*========== BASE ==========*/

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/

body.dark-theme {
  --title-color: #F3F1F1;
  --title-color2nd: #1e9cd9;
  --text-color: #D1C7C8;
  --body-color: #1A1C22;
  --container-color: #22252b;
  --constant-color: #ffffff;
  --constant-color2nd: #22252b;
}

/*========== Button Dark/Light ==========*/

.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  display: flex;
  color: var(--title-color);
  font-size: 2rem;
  cursor: pointer;

}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/

.section {
  padding: 4rem 0 2rem;
}

.section-title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color2nd);
  text-align: center;
  margin-bottom: var(--mb-3);
}

/*========== LAYOUT ==========*/

.l-main {
  overflow: hidden;
}

.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*========== NAV ==========*/

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}

.nav__item {
  margin-bottom: var(--mb-3);
}

.nav__link,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--);
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-bold);
  font-size: var(--h3-font-size);
  display: flex;
  align-items: center;
}

.nav__logo img {
  margin-right: var(--mb-1);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__link {
  transition: .3s;
}

.nav__link:hover {
  color: var(--first-color-alt);
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */

.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/* Active menu link */

.active-link {
  position: relative;
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

.active-link::before {
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--first-color);
  border-radius: 50%;
}

/* Change background header */

.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
}

/* Scroll top */

.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: var(--first-color);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color-alt);
}

.scrolltop__icon {
  font-size: 1.5rem;
  color: var(--constant-color);
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/*========== ASIDE ==========*/

.wrapper__sosial-media {
  opacity: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  z-index: 4;
}

.wrapper__sosial-media .button__sosial-media {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.wrapper__sosial-media .button__sosial-media:hover {
  width: 200px;
}

.wrapper__sosial-media .button__sosial-media .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper__sosial-media .button__sosial-media:nth-child(1):hover .icon {
  background: #E1306C;
}

.wrapper__sosial-media .button__sosial-media:nth-child(2):hover .icon {
  background: #333;
}

.wrapper__sosial-media .button__sosial-media:nth-child(3):hover .icon {
  background: #ff0000;
}

.wrapper__sosial-media .button__sosial-media .icon i {
  font-size: 20px;
  line-height: 60px;
  transition: all 0.3s ease-out;
  color: var(--constant-color2nd);
}

.wrapper__sosial-media .button__sosial-media:hover .icon i {
  color: #fff;
}

.wrapper__sosial-media .button__sosial-media span {
  font-size: 14px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper__sosial-media .button__sosial-media:nth-child(1) span {
  color: #E1306C;
}

.wrapper__sosial-media .button__sosial-media:nth-child(2) span {
  color: #333;
}

.wrapper__sosial-media .button__sosial-media:nth-child(3) span {
  color: #ff0000;
}

/*========== HOME ==========*/

.home__container {
  row-gap: .5rem;
}

.home__img {
  width: 280px;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
}

.home__description {
  margin-bottom: var(--mb-3);
}

.home__footer {
  grid-column-start: span 2;
  order: 3;
  justify-self: center;
  margin-top: 50px;

}

.home__footer h1 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  font-size: var(--small-font-size);
  display: flex;
  justify-content: center
}

.home__footer .images__group {
  display: flex;
  align-items: center;
  background-color: var(--constant-color);
  padding: 0px 10px 0px 10px;
  margin-top: 5px;
  border-radius: 10px;
}


/*========== BUTTONS ==========*/

.button {
  display: inline-block;
  position: relative;
  align-items: center;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;
}

.button__home {
  position: relative;
  padding-left: 50px;
}

.button__home::before {
  content: " ";
  background: url("../img/figma.png");
  background-size: cover;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  margin: auto 0px;
}

.button:hover {
  background-color: var(--first-color-alt);
}

/*========== FITURE - SHARE ==========*/

.share__tittle,
.fitur__tittle {
  display: flex;
  justify-content: center;
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-bold);
}

video {
  height: auto;
  width: 100%;
}

/*========== WRAPPER ==========*/

.wrapper {
  max-width: 968px;
  width: 100%;
  position: relative;
  padding: 5px;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: var(--body-color);
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 6px 0;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

/* Setara dengan .carousel .card , .carousel .img */
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: var(--container-color);
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(65, 11, 16, .15);
}

.carousel .card:hover {
  box-shadow: 0 3px 12px rgba(65, 11, 16, .15);
}

.carousel .card .img {
  background: var(--first-color);
  height: 148px;
  width: 148px;
  border-radius: 50%;
}

/* mencoba untuk memakai nth-child-() tetapi tidak bisa terkoneksi */

.carousel .card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.carousel .card #img1 img {
  background: url("../img/membaca.gif");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel .card #img2 img {
  background: url("../img/kosakata.gif");
  background-size: 140px;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel .card #img3 img {
  background: url("../img/sound.gif");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel .card #img4 img {
  background: url("../img/tebak.gif");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel .card #img5 img {
  background: url("../img/ekspresi.gif");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel .card #img6 img {
  background: url("../img/berpikir.gif");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}


.carousel .card h3 {
  font-size: var(--h3-font-size);
  margin: 30px 0 5px;
  color: var(--title-color2nd);
}

.carousel .card p {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 200px;
  font-size: var(--small-font-size);
}

/*========== MEDIA QUERIES CAROUSEL ==========*/

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}


@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

@media screen and (min-width: 576px) {
  .wrapper {
    max-width: 100%;
  }

  .share__container {
    margin: 50px 0;
  }

  .fitur_container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 360px) and (max-width: 576px) {
  .home__container {
    display: block;
  }

  .home__footer {
    display: block;
  }

  .images__group {
    display: flex;
    justify-content: center;
  }

  .images__group img {
    width: 50px;
  }

  .wrapper {
    max-width: 100%;
  }

  .fitur_container {
    display: flex;
    justify-content: center;
  }
}

/*========== SHARE ==========*/

.share__data {
  text-align: center;
}

.share__description {
  margin-bottom: var(--mb-2);
}

.share__data h2 {
  font-size: var(--h3-font-size);
}

.share__data h2 span {
  font-weight: 400;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-style: italic;
  opacity: 30%;
}

.share__data p {
  font-size: var(--small-font-size);
}

.share__img {
  justify-self: center;
}

.share__data .button i {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0px;
  left: 20px;
  margin: auto;
  align-items: center;
}

.share__data .button p {
  padding-left: 18px;
}

.share__img img {
  width: 360px;
}

/*========== FOOTER ==========*/

.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  display: flex;
  justify-content: center;
}

.footer__logo {
  color: var(--title-color);
}

.footer__title {
  margin-bottom: var(--mb-2);
}

.footer__logo,
.footer__title {
  font-size: var(--h3-font-size);
}

.footer__link {
  display: inline-block;
  margin-bottom: .75rem;
  color: var(--text-color);
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-3);
}

.footer__social:hover {
  color: var(--first-color);
}

.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 4rem;
}

/*========== MEDIA QUERIES ==========*/

@media screen and (max-width: 359px) {

  .home__img,
  .share__img,
  .send__img {
    width: 100%;
  }

  .bd-grid {
    display: block;
  }

  .images__group {
    display: flex;
    justify-content: center;
  }

  .images__group img {
    width: 52px;
  }

  .wrapper__sosial-media {
    opacity: 0;
  }
}

@media screen and (min-width: 576px) {

  .home__container,
  .fitur_container,
  .share__container,
  .send__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home__container {
    padding: 5rem 0 0;
  }

  .home__img {
    order: 1;
  }

  .section-title-center,
  .share__data {
    text-align: initial;
  }

  .home__img,
  .share__img,
  .send__img {
    width: 100%;
  }

  .share__img {
    order: -1;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 7rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
    align-items: center;
  }

  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .change-theme {
    position: initial;
    margin-left: var(--mb-4);
  }

  .home__container {
    padding: 7rem 2rem 0;
  }

  .fitur_container {
    padding: 0 2rem;
  }

  .accessory__container {
    grid-template-columns: repeat(3, 224px);
    justify-content: center;
  }

  .accessory__content {
    padding: .5rem 1.5rem 1.5rem;
  }

  .accessory__img {
    width: 120px;
    margin-bottom: var(--mb-1);
  }

  .accessory__title,
  .accessory__category {
    text-align: initial;
  }

  .accessory__button {
    padding: .75rem;
  }

  .send {
    background: none;
  }

  .send__container {
    background-color: var(--first-color-send);
    padding: 2rem;
    border-radius: 1.5rem;
  }
}

@media screen and (min-width: 968px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img,
  .send__img {
    width: 469px;
  }

  .home__container,
  .fitur_container,
  .share__container,
  .send__container {
    column-gap: 5rem;
  }

  .share__container {
    margin-bottom: var(--mb-6);
  }

  .share .share__container:nth-child(3) {
    padding-left: 10px;
  }

  .share__container:nth-child(3) .share__img {
    display: flex;
    justify-content: end;
  }

  .fitur_container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1094px) {

  #aside {
    opacity: 100%;
  }

  #aside_transform {
    display: none;
  }

}